{% extends "index.html" %}
{% block content %}
    <ul id="movieposters">
			<li>
				<img src="/media/page1_img1.jpg" alt="Iron Man 2">
				<div class="movieinfo">
					<p>With the world now aware of his dual life as the armored superhero Iron Man, billionaire inventor Tony...</p>
				</div>
			</li>
			<li>
				<img src="/media/page2_img1.jpg" alt="The Last Airbender">
				<div class="movieinfo">
					<p>The story follows the adventures of Aang, a young successor to a long line of Avatars, who must put his...</p>
				</div>
			</li>
			<li>
				<img src="/media/big1.jpg" alt="Tron Legacy">
				<div class="movieinfo">
					<p>Sam Flynn, the tech-savvy 27-year-old son of Kevin Flynn, looks into his father's disappearance and finds...</p>
				</div>
			</li>
		</ul>
{% endblock %}