{% extends 'index.html' %}
{%  load staticfiles %}
{% block content %}
    <div style="background-image: url(/media/paper.gif);background-repeat: repeat; width: 100%">
        <table style="font-color:black;font-size:20px;width: 100%;" cellspacing="10px" cellpadding="10px">
            <tr style="font-color:black;font-size:20px;">
                <td style="width: 35%;height: auto;font-color:black;font-size:20px;" rowspan="15"><img style="object-fit:fill;" width="400" height="600" src="{% static "images/GSV.JPG" %}"></td>

            </tr>
            <tr>
                <td colspan="3"><br/><h5 style="text-align:center;font-size: 40px;font-weight: bold; ">Mr. P. Praveen Kumar.</h5></td>
            </tr>
            <tr>
                <td style="width:15%;text-align:left;font-color:black;font-size:20px; padding-top: 10px;padding-left: 10px; font-weight: bold;"><p style="text-align:left; ">Full Name</p></td>
                <td style="text-align:center;font-color:black;font-size:20px;padding-top: 10px; "><p style="text-align:center; ">:</p></td>
                <td style="text-align:left;font-color:black;font-size:20px;padding-top: 10px; "><p style="text-align:left; ">P. Praveen Kumar.</p></td>
            </tr>
            <tr>
                <td style="width:15%;text-align:left;font-color:black;font-size:20px;padding-left: 10px; "><p style="text-align:left;font-weight: bold; ">DOB</p></td>

                <td style="text-align:center;font-color:black;font-size:20px;padding-left: 10px; "><p style="text-align:center; ">:</p></td>
                <td style="text-align:left;font-color:black;font-size:20px; "><p style="text-align:left; ">DD-MM-YYYY</p></td>
            </tr>
            <tr>
                <td style="width:25%;text-align:left;font-color:black;font-size:20px;font-weight: bold;padding-left: 10px; "><p style="text-align:left; ">Birth Place</p></td>
                <td style="text-align:center;font-color:black;font-size:20px; "><p style="text-align:center; ">:</p></td>
                <td style="text-align:left;font-color:black;font-size:20px; "><p style="text-align:left; ">Karnataka</p></td>
            </tr>
            <tr>
                <td style="width:15%;text-align:left;font-color:black;font-size:20px;font-weight: bold; padding-left: 10px;"><p style="text-align:left; ">Fathers' Name:</p></td>
                <td style="text-align:center;font-color:black;font-size:20px; "><p style="text-align:center; ">:</p></td>
                <td style="text-align:left;font-color:black;font-size:20px; "><p style="text-align:left; ">Mr.YYYY</p></td>
            </tr>
            <tr>
                <td style="width:15%;text-align:left;font-color:black;font-size:20px;font-weight: bold; padding-left: 10px;"><p style="text-align:left; ">Mothers' Name</p></td>
                <td style="text-align:center;font-color:black;font-size:20px; "><p style="text-align:center; ">:</p></td>
                <td style="text-align:left;font-color:black;font-size:20px; "><p style="text-align:left; ">Mrs.ZZZ</p></td>
            </tr>
            <tr>
                <td style="width:25%;text-align:left;font-color:black;font-size:20px;font-weight: bold;padding-left: 10px; "><p style="text-align:left; ">Qualification</p></td>
                <td style="text-align:center;font-color:black;font-size:20px; "><p style="text-align:center; ">:</p></td>
                <td style="text-align:left;font-color:black;font-size:20px; "><p style="text-align:left; ">Degree from bangalore University</p></td>
            </tr>
            <tr>
                <td style="width:15%;text-align:left;font-color:black;font-size:20px;font-weight: bold;padding-left: 10px; "><p style="text-align:left; ">Dance Type</p></td>
                <td style="text-align:center;font-color:black;font-size:20px; "><p style="text-align:center; ">:</p></td>
                <td style="text-align:left;font-color:black;font-size:20px; "><p style="text-align:left; ">Bharathanatyam</p></td>
            </tr>
            <tr>
                <td style="width:25%;text-align:left;font-color:black;font-size:20px;font-weight: bold;padding-left: 10px; "><p style="text-align:left; ">Trained By</p></td>
                <td style="text-align:center;font-color:black;font-size:20px; "><p style="text-align:center; ">:</p></td>
                <td style="text-align:left;font-color:black;font-size:20px; "><p style="text-align:left; ">Smt.Narmada<br/>Prof. C.V. Chandrashekar.</p></td>
            </tr>
{#            <tr>#}
{#                <td style="width:25%;text-align:left;font-color:black;font-size:20px;font-weight: bold;padding-left: 10px; "><p style="text-align:left; ">Mastered in</p></td>#}
{#                <td style="text-align:center;font-color:black;font-size:20px; "><p style="text-align:center; ">:</p></td>#}
{#                <td style="text-align:left;font-color:black;font-size:20px; "><p style="text-align:left; ">BharathNatyam</p></td>#}
{#            </tr>#}
            <tr>
                <td style="width:25%;text-align:left;font-color:black;font-size:20px; font-weight: bold;padding-left: 10px;"><p style="text-align:left; ">Awards and Felicitations</p></td>
                <td style="text-align:center;font-color:black;font-size:20px; "><p style="text-align:center; ">:</p></td>
                <td style="text-align:left;font-color:black;font-size:20px; "><p style="text-align:left; ">A Recipient of “Ustad Bismilla Khan Yuva Purskar 2010” from Central Sangeet Natak Academy, New delhi.<br/>
                Honoured with the “Mohan Khokar Award 2010” as a complete artist. He is the first recipient of this award.</p></td>
            </tr>
        </table>

    </div>
    <div>

    </div>

{% endblock %}